.navbar-nav { 
    font-size: 16px;
    font-weight: bold;
    font-family: 'Montserrat-bold', sans-serif;   
}
.navbar-nav .nav-item {
    margin-left: 20px;
}

.bg-light { 
    background-color: white !important;
    box-shadow: 1px 1px 6px rgba(0,0,0,0.1);
}

.title {
    padding-top: 204px;
    padding-bottom: 138px;
    padding-left: 100px;
}

.title h1 {
    font-size: 48px;
    font-family: 'Montserrat-Bold', sans-serif; 
}

.sumatera {
    min-height:871px;
    background-color:rgb(230, 230, 230);
}

.mapsumatera {
    padding-top: 20px;
}

.mentorSumatera {
    height: 700px;
    background-color: white;
    font-family: 'Montserrat-bold', sans-serif;  
}

.pilihClass {
    height: 386px;
    background-color: #FFE296;
    font-family: 'Montserrat-bold', sans-serif;  
}

.pilihClass h3 {
    font-size: 24px;
    margin-top: 19px;
    margin-bottom: 41px;
    font-family: 'Montserrat-bold', sans-serif; 
}

.btn {
    padding: 15px 63px !important;
    font-size: 21px;
    font-weight: 700;
    font-family: 'Montserrat-bold', sans-serif; 
}
